@{
    ViewData["Title"] = "Account";
}

@model Airline.Models.Passenger

<style>
    .account__wrapper{
        display: flex;
        gap: 20px;
        align-items: center;
        margin-block: 30px;
    }
    
    .account__image{
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }

    .account__img-wrapper{

    }

    .actions{
        display: flex;
        gap: 30px;
    }
</style>

<div class="qwe">
<div class="container">
    <h1>Аккаунт</h1>

    @if (Model != null)
    {
        <div class="account__wrapper">
                <div class="account__img-wrapper">
                    @if (Model.Photo != null)
                    {
                        var base64String = Convert.ToBase64String(Model.Photo);
                        <img src="data:image/jpeg;base64,@base64String" alt="Фото пассажира" class="account__image" />
                    }
                    else
                    {
                        <img src="/img/avatar.jpg" alt="Фото пассажира" class="account__image" />
                    }
                </div>

                <div>
                    <h4>@Model.LastName</h4>
                    <h4>@Model.FirstName</h4>
                    <h4>@if (Model.Patronymic != null) { @Model.Patronymic } </h4>
                    <h6>@Model.BirthDate?.ToString("dd.MM.yyyy")</h6>
                </div>
        </div>
    }
    <div class="actions">
            <form asp-action="Tickets">
                <input type="hidden" name="id" value="@Model.PassengerId" />
                <button type="submit" class="btn btn-secondary">
                    Мои билеты
                </button>
            </form>

            <a href="@Url.Action("Edit", new { id = Model.PassengerId })" class="btn btn-secondary">Изменить профиль</a>


            <form asp-action="Logout" method="post">
                <button type="submit" class="btn btn-danger">
                    Выйти
                </button>
            </form>
    </div>
</div>
</div>