@{
    ViewData["Title"] = "Create flight";
}

@model Airline.Models.ViewModels.CreateFlightModel

<div class="container">

    <h2>Создание рейса</h2>

    <form asp-action="Create">
        <div class="form-group">
            <label asp-for="Flight.DepartureDestinationId">Пункт вылета</label>
            <select asp-for="Flight.DepartureDestinationId" class="form-control">
                <option value="" disabled selected>Выберите пункт вылета</option>

                @foreach (var type in Model.Destination)
                {
                    <option value=@type.DestinationId>@type.Airport (@type.City)</option>
                }
            </select>
            <span asp-validation-for="Flight.DepartureDestinationId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Flight.ArrivalDestinationId">Пункт прилета</label>
            <select asp-for="Flight.ArrivalDestinationId" class="form-control">
                <option value="" disabled selected>Выберите пункт прилета</option>

                @foreach (var type in Model.Destination)
                {
                    <option value=@type.DestinationId>@type.Airport (@type.City)</option>
                }
            </select>
            <span asp-validation-for="Flight.ArrivalDestinationId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Flight.DepartureDatetime">Время вылета</label>
            <input type="datetime" asp-for="Flight.DepartureDatetime" class="form-control" />
            <span asp-validation-for="Flight.DepartureDatetime" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Flight.ArrivalDatetime">Время прилета</label>
            <input type="datetime" asp-for="Flight.ArrivalDatetime" class="form-control" />
            <span asp-validation-for="Flight.ArrivalDatetime" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Flight.AircraftId">Самолет</label>
            <select asp-for="Flight.AircraftId" class="form-control">
                <option value="" disabled selected>Выберите самолет</option>

                @foreach (var type in Model.Aircraft)
                {
                    <option value=@type.AircraftId>@type.TailNumber</option>
                }
            </select>
            <span asp-validation-for="Flight.AircraftId" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Создать</button>
        <a asp-action="Index" class="btn btn-secondary">Отменить</a>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
