@model IEnumerable<Airline.Models.Flight>

<h2>Полеты</h2>

<p>
    <a class ="btn btn-success" asp-action="Create">Новый рейс</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Id рейса</th>
            <th>Город (в)</th>
            <th>Аэропорт (в)</th>
            <th>Время (в)</th>
            <th>Город (п)</th>
            <th>Аэропорт (п)</th>
            <th>Время (п)</th>
            <th>Самолет</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FlightId</td>
                <td>@item.DepartureDestination.City</td>
                <td>@item.DepartureDestination.Airport</td>
                <td>@item.DepartureDatetime.ToString("dd.MM.yyyy hh:mm")</td>
                <td>@item.ArrivalDestination.City</td>
                <td>@item.ArrivalDestination.Airport</td>
                <td>@item.ArrivalDatetime.ToString("dd.MM.yyyy hh:mm")</td>
                <td>@item.Aircraft.TailNumber</td>

                <td>
                    <form asp-action="Delete" method="post">
                        <input type="hidden" name="id" value="@item.FlightId" />
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>