@{
    ViewData["Title"] = "Aircraft";
}

@model IEnumerable<Airline.Models.AircraftType>

<h1>Тип самолета</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Создать новый тип</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Тип ID</th>
            <th>Бренд</th>
            <th>Дальность</th>
            <th>Кол-во мест (Эконом)</th>
            <th>Кол-во мест (Бизнес)</th>
            <th>Максимальная высотка полета</th>
            <th>Крейсерская скорость</th>
            <th>Макс взлетная масса</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TypeId</td>
                <td>@item.Brand</td>
                <td>@item.Range</td>
                <td>@item.PassengerCapacityEconomy</td>
                <td>@item.PassengerCapacityBusiness</td>

                <td>@item.MaxFlightAltitude</td>
                <td>@item.CruiseSpeed</td>
                <td>@item.MaxTakeoffWeight</td>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.TypeId })" class="btn btn-primary">Изменить</a>

                    <form asp-action="Delete" method="post">
                        <input type="hidden" name="id" value="@item.TypeId" />
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
