@model IEnumerable<Airline.Models.Passenger>

<h2>Пассажиры</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id пассажира</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Отчество</th>
            <th>Дата рождения</th>
            <th>Id билетов</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.PassengerId</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Patronymic</td>
                <td>@item.BirthDate?.ToString("dd.mm.yyyy")</td>
                <td>@foreach (var ticket in item.Tickets)
                    {
                        @if (ticket != null)
                        {
                            <p style="margin: 0px">@ticket.TicketId</p>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>