@{
    ViewData["Title"] = "Aircraft";
}

@model IEnumerable<Airline.Models.Aircraft>

<h2>Самолеты</h2>

<p>
    <a class ="btn btn-success" asp-action="Create">Создать самолет</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Id самолета</th>
            <th>Бортовой номер</th>
            <th>Период эксплуатации</th>
            <th>Год создания</th>
            <th>Тип</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.AircraftId</td>
                <td>@item.TailNumber</td>
                <td>@item.OperationalPeriod</td>
                <td>@item.YearOfManufacture</td>
                <td>@item.Type.Brand</td>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.AircraftId })" class="btn btn-primary">Изменить</a>

                    <form asp-action="Delete" method="post">
                        <input type="hidden" name="id" value="@item.AircraftId" />
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
